@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
}

h3 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

body, button {
    font-family: "Lexend Deca", sans-serif;
}

.attribution {
    margin: 3rem;
    font-size: 14px; text-align: center;
}

.attribution a {
    text-decoration: none;
    color: hsl(229, 6%, 66%);
}