@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    /*Primary*/

    --very-dark-blue-maing-bg: hsl(233, 47%, 7%);
    --dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    /*Neutral*/

    --slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-headings: hsla(0, 0%, 100%, 0.6);
    --white: hsl(0, 0%, 100%);

    --ff-inter: 'Inter', sans-serif;
    --ff-lexend-deca: 'Lexend Deca', sans-serif;

    --fs-1: 15px;
    --fs-2: 28px;

    --fw-400: 400;
    --fw-700: 700;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--very-dark-blue-maing-bg);
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 70vw;
    border-radius: 7px;
    background: var(--dark-desaturated-blue-card-bg);
}

.main .text {
    width: 50%;
    padding: 4rem;
}

.main .header-img {
    width: 50%;
}

h1 {
    color: var(--white);
    font-family: var(--ff-inter);
    font-weight: var(--fw-700);
    font-size: var(--fs-2);
}

.span-title {
    color: var(--soft-violet);
}

p {
    color: var(--slightly-transparent-white-paragraph);
    font-family: var(--ff-lexend-deca);
    font-size: var(--fs-1);
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-numbers {
    color: var(--white);
    font-family: var(--ff-inter);
    font-weight: var(--fw-700);
    font-size: var(--fs-2);
}

.description {
    color: var(--slightly-transparent-white-paragraph);
    font-family: var(--ff-lexend-deca);
    font-size: var(--fs-1);
    text-transform: uppercase;
}

.attribution {
    font-family: var(--ff-inter);
    font-size: 1rem;
    text-align: center;
    color: var(--slightly-transparent-white-paragraph);
    margin: 50px auto;
}

.attribution a {
    text-decoration: none;
    color: var(--soft-violet);
}