@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --white: hsl(0, 0%, 100%);
    --gradient01: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);

    --ff-overpass: 'Overpass', sans-serif;

    --fs-1: 15px;
    --fs-2: 28px;

    --fw-400: 400;
    --fw-700: 700;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--ff-overpass);
}

body {
    background-color: hsl(216, 12%, 8%);
}

h1 {
    font-size: var(--fs-2);
    line-height: 35px;
    color: var(--white);
    margin-bottom: 7px;
}

p {
    font-size: var(--fs-1);
    color: var(--light-grey);
    line-height: 24px;
    margin-bottom: 24px;
}

.container {
    margin: 3% auto;
    width: 412px;
    height: 416px;
    background: var(--gradient01);
    border-radius: 30px;
    padding: 32px 39px 32px 32px;
}

.star {
    width: 48px;
    height: 48px;
    background: var(--dark-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
}

.numbers {
    display: flex;
    gap: 20px;
}

.number-circle {
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-grey);
    background-color: var(--dark-blue);
    border-radius: 50%;
    margin-bottom: 32px;
    cursor: pointer;
}

.number-circle:hover {
    color: var(--white);
    background-color: var(--orange);
}

.number-circle-active {
    color: var(--white);
    background-color: var(--light-grey);
}

button {
    width: 100%;
    height: 45px;
    border-radius: 23px;
    border: none;
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
    transition: all ease .3s;
    text-transform: uppercase;
    letter-spacing: 5px;
}

button:hover {
    color: var(--orange);
    background-color: var(--white);
}

.thank-you {
    text-align: center;
}

.thank-you img {
    width: 162px;
    height: 108px;
    display: block;
    margin: auto;
    margin-bottom: 32px;
}

.selection {
    width: 193px;
    height: 32px;
    color: var(--orange);
    background-color: var(--dark-blue);
    border-radius: 30px;
    margin-bottom: 32px;
    display: flex;
    margin: auto;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.attribution {
    font-size: 1rem;
    text-align: center;
    color: var(--medium-grey);
    margin: 50px auto;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}