@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /*Primary*/
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /*Neutral*/
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /*Font*/
    --ff-inter: 'Outfit', sans-serif;

    /*Font Size*/
    --fs-paragraph: 18px;

    /*Font Weights*/
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--very-dark-blue-main-bg);
}

main {
    max-width: 350px;
    margin: 0 auto;
}

.wrapper {
    margin: 2rem 2 rem;
    padding: 25px;
    background: var(--very-dark-blue-card-bg);
    box-shadow: 0px 0px 30px 5px hsl(212, 63%, 9%);
    border-radius: 15px;
}

.img-top {
    position: relative;
    text-align: center;
}

.img-top img {
    width: 100%;
    display: block;
    border-radius: 15px;
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: none;
    border-radius: 15px;    
}

.img-overlay img {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-top:hover .img-overlay {
    display: block;
    cursor: pointer;
}

.box-text a {
    color: var(--white);
    text-decoration: none;
    font-weight: var(--fw-600);
    font-size: 21px;
    padding: 20px 0;
    display: inline-block;
}

.box-text p {
    color: var(--soft-blue);
    text-decoration: none;
    font-weight: var(--fw-300);
    font-size: var(--fs-paragraph);
    padding: 10px 0;
    display: inline-block;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.eth, .days {
    display: flex;
    align-items: center;
}

.eth p {
    color: var(--cyan);
    font-weight: var(--fw-600);
    padding-left: 7px;
}

.days p {
    padding-left: 7px;
}

hr {
   border-color: var(--very-dark-blue-line); 
}

.author {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.author img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid var(--white);
    margin-right:  10px;
}

.author a {
    color: var(--white);
    font-size: var(--fs-paragraph);
}

.box-text a:hover {
    color: var(--cyan);
    cursor: pointer;
}

.author a:hover {
    color: var(--cyan);
}

.attribution {
    margin: 3rem;
    color: hsl(215, 32%, 27%);
}

.attribution a {
    text-decoration: none;
}
